#moving-text{
    white-space: nowrap;
    overflow-x: auto;
    padding: 5vh 0;
    
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.con {
  white-space: nowrap;
  display: inline-flex;   /* 🔥 change this */
  align-items: center;    /* 🔥 centers everything vertically */
  animation: move 12s linear infinite;
}
#moving-text h2{
    font-size: 50px;
    display: inline-block;
}

#gola{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background-color: #f90202;
    display: inline-block;
    margin: 0 2vw;
}
.fire {
    display: inline-block;
    font-size: 3rem;
    margin: 0 2vw;
    color: #cc5500;
    vertical-align: middle;
}
@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }   
}